html {
  scroll-behavior: smooth;
}
body {
    font-family: 'Courier New', Courier, monospace;
    background-color: #659225;
    margin: 0;
    padding: 0;
    color: #fff;
}
.head {
    font-size: 2.2rem;
    background-color: #255a02;
}
.main {
    font-size: 1.1rem;
    padding: 40px 20px;
    height: 800px;
    min-height: calc(100vh - 200px);
    max-width: 800px;
    margin: 0 auto;
}
.footer {
    background-color: #8d6142;
    font-size: 1.1rem;
} 
.head, .footer {
    text-align: center;
    padding: 30px;
} 
.head button {
    font-family: 'Courier New', Courier, monospace;
    background-color: transparent;
    border: none;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 90%;
    font-weight: bold;
    margin: 8px auto;
    padding: 8px;
    position: relative;
    text-align: center;
    text-decoration: none;
} 
.head .dropdown {
    opacity: 0;
    visibility: hidden;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease-in-out, opacity 0.4s ease-in-out, visibility 0.4s ease-in-out;
}
.head .dropdown a {
    padding: 10px;
    margin-right: 20px;
    color: inherit;
    text-decoration: none;
}
.head .dropdown.open {
    opacity: 1;
    visibility: visible;
    max-height: 200px;
} 
.hidden {
    display: none;
}